@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background: rgb(21, 21, 21);
}

.container1 {
    height: 100vh;
    border-style: border-box;
    position: relative;
}

.banner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    animation: animate 80s linear infinite;
    opacity: 1;
    transform: scale(1.2);
}

.banner-img:nth-child(1) {
    animation-name: animate-1;
    z-index: 3;
}

.banner-img:nth-child(2) {
    animation-name: animate-2;
    z-index: 2;
}

.banner-img:nth-child(3) {
    animation-name: animate-3;
    z-index: 1;
}

.banner-img:nth-child(4) {
    animation-name: animate-4;
    z-index: 0;
}

@keyframes animate-1 {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }

    1.5% {
        opacity: 1;
    }

    23% {
        opacity: 1;
    }

    26% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }

    98% {
        opacity: 0;
        transform: scale(1.22);
    }

    100% {
        opacity: 1;
    }
}

@keyframes animate-2 {
    23% {
        opacity: 1;
        transform: scale(1.2);
    }

    26% {
        opacity: 1;
    }

    48% {
        opacity: 1;
    }

    51% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

@keyframes animate-3 {
    48% {
        opacity: 1;
        transform: scale(1.2);
    }

    51% {
        opacity: 1;
    }

    73% {
        opacity: 1;
    }

    76% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

@keyframes animate-4 {
    73% {
        opacity: 1;
        transform: scale(1.2);
    }

    76% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.container2 {
    height: 103vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
        url(../img/laud.png);
    background-size: cover;
    border-style: border-box;
    background-attachment: fixed;
    position: relative;
}

.container3 {
    height: 103vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
        url(../img/lute.jpg);
    background-size: cover;
    border-style: border-box;
    background-attachment: fixed;
    position: relative;
}

.container4 {
    height: 116vh;
    background-size: cover;
    border-style: border-box;
    background-attachment: fixed;
    position: relative;
}

.container5 {
    background-size: cover;
    border-style: border-box;
    background-attachment: fixed;
    position: relative;
}

.box {
    z-index: 100;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(0.5%, -50%);
}

.box:hover span {
    border-bottom: 3px solid rgb(40, 122, 57);
    border-right: 3px solid rgb(40, 122, 57);
}

.box span {
    transition: 0.2s;
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 0.2vw solid #fff;
    border-right: 0.2vw solid #fff;
    transform: rotate(45deg);
    margin: -1vw;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.biografia {
    padding-bottom: 8vw;
}

.biografia p,
.biografia h2,
.biografia ul {
    position: relative;
    left: calc(33.33333% + 1.66667vh);
    width: calc(62.66667% - 1.66667vw);
}

.biografia p {
    margin-right: 5rem;
    color: rgb(185, 185, 185);
    font-size: 1.3vw;
    line-height: 3.7vh;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 2vh;
}

.biografia ul li {
    margin-top: 2vh;
    margin-right: 5rem;
    color: rgb(185, 185, 185);
    font-size: 1.3vw;
    line-height: 3.7vh;
    font-weight: 400;
    letter-spacing: 0;
}

.biografia h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-size: 2vw;
    line-height: 7vh;
    font-weight: 700;
    letter-spacing: 0;
}

.biografia .media {
    width: calc(100% - 7vw);
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-right: 4vw;
}

.biografia .media a img {
    border-radius: 1vh;
    position: relative;
    left: auto;
    right: calc(-76vw - -50%);
}

.biografia .media .descripcion {
    font-size: 1.3vw;
    line-height: 3.5vh;
    width: calc(25% - 4vw);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    font-weight: 400;
    letter-spacing: 0;
    border-bottom: 1px solid #d9c9ca;
    padding-bottom: 1.5vh;
}

.biografia .media .autor {
    color: rgb(167, 167, 167);
}

.historia {
    background: #332418;
}

.historia h2,
.historia ul {
    left: calc(19.33333% + 1.66667vh);
    width: calc(62.66667% - 1.66667vw);
    position: relative;
}

.historia p {
    font-family: "Cormorant Garamond", serif;
    position: relative;
    left: calc(19.33333% + 1.66667vh);
    width: calc(62.66667% - 1.66667vw);
    color: rgb(207, 207, 207);
    font-size: 1.5vw;
    line-height: 3vh;
    margin-top: 2vh;
    text-align: justify;
    font-weight: 900;
}

.historia ul li {
    margin-top: 2vh;
    margin-right: 5rem;
    color: rgb(185, 185, 185);
    font-size: 1.3vw;
    line-height: 3.7vh;
    font-weight: 400;
    letter-spacing: 0;
}

.historia h2 {
    color: #fff;
    font-size: 4vw;
    line-height: 9vh;
    letter-spacing: 0;
    font-family: "Lobster Two", cursive;
    font-weight: 100;
}

.historia .media {
    width: calc(100% - 7vw);
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-right: 4vw;
}

.historia .media a img {
    border-radius: 1vh;
    position: relative;
    left: auto;
    right: calc(-76vw - -50%);
}

.historia .media .descripcion {
    font-size: 1.3vw;
    line-height: 3.5vh;
    width: calc(25% - 4vw);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    font-weight: 400;
    letter-spacing: 0;
    border-bottom: 1px solid #d9c9ca;
    padding-bottom: 1.5vh;
}

.historia .media .autor {
    color: rgb(167, 167, 167);
}

.historia1 {
    background: #e4d3a3;
}

.historia1 p {
    margin: 0 2em 0 2em;
    font-family: "Cormorant Garamond", serif;
    position: relative;
    color: #353c4d;
    font-size: 1.5vw;
    line-height: 3vh;
    text-align: justify;
    font-weight: 900;
}

.historia1 ul li {
    margin-top: 2vh;
    margin-right: 5rem;
    color: rgb(185, 185, 185);
    font-size: 1.3vw;
    line-height: 3.7vh;
    font-weight: 400;
    letter-spacing: 0;
}

.historia1 h2 {
    margin: 0 0.8em 2vh 0.8em;
    color: #353c4d;
    font-size: 4vw;
    line-height: 9vh;
    letter-spacing: 0;
    font-family: "Lobster Two", cursive;
    font-weight: 100;
}

.historia1 .media {
    width: calc(100% - 7vw);
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-right: 4vw;
}

.historia1 .media a img {
    border-radius: 1vh;
    position: relative;
    left: auto;
    right: calc(-76vw - -50%);
}

.historia1 .media .descripcion {
    font-size: 1.3vw;
    line-height: 3.5vh;
    width: calc(25% - 4vw);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    font-weight: 400;
    letter-spacing: 0;
    border-bottom: 1px solid #d9c9ca;
    padding-bottom: 1.5vh;
}

.historia1 .media .autor {
    color: rgb(167, 167, 167);
}

section {
    column-count: 2;
    column-gap: 0.1px;
    column-rule: 1px solid rgb(75, 70, 74);
}

.navbar {
    z-index: 1000;
    width: 100%;
    position: fixed;
    height: 9%;
    top: 0;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.navbar.scrolling-active {
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    padding-left: 2.5vw;
    width: 3.3vw;
    cursor: pointer;
}

svg {
    display: block;
}

nav {
    padding-right: 8%;
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5vw;
}

nav ul li a {
    opacity: 1;
    transition: 0.2s;
    color: #ffffff;
    text-decoration: none;
    padding: 1vw;
    font-size: 1.2vw;
}

nav ul li a:hover {
    opacity: 0.6;
    text-decoration: none;
}

ul .select {
    opacity: 1;
    text-decoration: none;
    border-radius: 7vh;
    border: solid 1px white;
    padding: 0.7vw;
}

.row {
    padding-left: 6%;
    display: flex;
    height: 98%;
    align-items: center;
}

#col {
    padding-left: 2%;
    flex-basis: 50%;
    z-index: 1000;
}

.col1 {
    padding-left: 2%;
    flex-basis: 50%;
}

.col2 {
    padding-left: 6%;
    flex-basis: 65%;
    height: 43%;
}

.col2 h5 {
    font-size: 6vw;
    color: #fff;
    padding-bottom: 2vh;
}

.col2 p {
    max-width: 90%;
}

.title {
    z-index: 1000;
    position: relative;
    bottom: 6vh;
}

.title h1 {
    color: #fff;
    font-size: 6vw;
}

.title2 {
    height: 32vh;
    position: relative;
    bottom: 6vh;
    border-right: 1px solid #fff;
}

.title2 h1 {
    color: #fff;
    font-size: 6vw;
}

.title3 {
    height: 67vh;
    position: relative;
    bottom: 6vh;
}

.title3 h1 {
    color: #fff;
    font-size: 5.4vw;
    margin-bottom: 2vh;
    font-family: "Source Sans Pro", sans-serif;
}

.row1 {
    height: 98%;
    padding-top: 17%;
}

.row1 h1 {
    padding-left: 8%;
    color: #fff;
    font-size: 9.8vw;
    margin-bottom: 1vh;
    font-family: "Caudex", serif;
    font-weight: 100;
}

.row1 img {
    position: relative;
    z-index: 100;
    border-radius: 1.8vh;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 15px 30px 60px -10px rgba(0, 0, 0, 0.5);
}

.row1 p {
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 10vh;
    font-size: 2vw;
    padding-left: 8%;
    color: #fff;
    font-weight: 600;
}

h2 {
    color: #fff;
    font-size: 2vw;
}

p {
    color: rgb(221, 221, 221);
    font-size: 1.4vw;
    font-weight: 1;
}

.grid div {
    transition: 0.2s;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
}

.grid div a {
    text-decoration: none;
    color: rgb(199, 199, 199);
    font-size: 2em;
    transition: 0.2s;
}

.grid div:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.grid a:hover {
    transition: 0.2s;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.svg1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12vh;
    transform: rotateY(180deg);
}

.svg1 .shape-fill {
    fill: rgb(21, 21, 21);
}

.svg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32vh;
    transform: rotateY(180deg);
}

.svg2 .shape-fill {
    fill: rgb(21, 21, 21);
}

.svg3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.svg3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32vh;
    transform: rotateY(180deg);
}

.svg3 .shape-fill {
    fill: #332418;
}

.svg4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.svg4 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32vh;
    transform: rotateY(180deg);
}

.svg4 .shape-fill {
    fill: #332418;
}

.svg5 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
}

.svg5 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 22vh;
    transform: rotateY(180deg);
}

.svg5 .shape-fill {
    fill: #332418;
}

.svg6 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
}

.svg6 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 22vh;
    transform: rotateY(180deg);
}

.svg6 .shape-fill {
    fill: #e4d3a3;
}

footer {
    z-index: 1000;
    position: absolute;
    right: 0;
    background: #111;
    width: 100vw;
    color: #fff;
    font-family: "Open Sans";
}

.footer-content {
    padding-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8vw;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 5vh;
}

.footer-content p {
    color: #adadad;
    max-width: 40vw;
    margin: 1vw auto;
    line-height: 3vh;
    font-size: 1.2vw;
}

.footer1 {
    z-index: 1000;
    position: absolute;
    right: 0;
    width: 100vw;
    color: #fff;
    font-family: "Open Sans";
    background: #332418;
}

.footer-content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content1 h3 {
    font-size: 1.8vw;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 5vh;
}

.footer-content1 h3 img {
    position: relative;
    top: 1vh;
    right: 1vh;
}

.footer-content1 p {
    color: #adadad;
    max-width: 40vw;
    margin: 1vw auto;
    line-height: 3vh;
    font-size: 1.2vw;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0 3vh 0;
}

.socials li {
    margin: 0 1vw;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1vw;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: rgba(0, 0, 0, 0.3);
    padding: 2vh 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 1vw;
    word-spacing: 0.1vw;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}

.footer-bottom2 {
    z-index: 1000;
    opacity: 0.5;
    background: #000;
    padding: 3vh 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-bottom2 p {
    font-size: 1vw;
    word-spacing: 0.2vw;
    text-transform: capitalize;
}

.footer-bottom2 span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}