body {
    color: white;
    font-family: 'Corbel', sans-serif;
    background: rgb(29, 26, 26);
    margin: 0;
}

ul {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.664);
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    list-style: none;
    font-size: 20px;
    margin: 0;
    height: 70px;
}

li a:hover {
    transition: .2s;
    color: #cfcfcf;
    text-decoration: none;
    background-color: #2285273f;
    border-radius: 20px;
    padding: 12px 10px 12px;
}

ul .lilogo {
    padding: 0px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 2em;
    position: relative;
    top: -3px;
}

li img {
    position: relative;
    right: 10px;
    top: 3px;
}

ul li {
    padding: 0px 20px;
    display: inline-block;
}

ul .select {
    color: #cfcfcf;
    text-decoration: none;
    background-color: #2285277a;
    border-radius: 20px;
    padding: 12px;
}

ul a {
    transition: .2s;
    color: #cfcfcf;
    text-decoration: none;
    padding: 10px;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    z-index: 2;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

.showcase .text h1 {
    font-family: 'Ubuntu', serif;
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    position: relative;
    left: 40%;
    z-index: 10;
}

.showcase .text p {
    font-family: 'Ubuntu', serif;
    font-size: 2em;
    line-height: 1em;
    position: relative;
    left: 60%;
    max-width: 900px;
    z-index: 2;
}
.wrapper{
    height: 200vh;
}
.wrapper h1 {
    text-align: center;
    font-family: 'Ubuntu', serif;
    font-size: 4em;
    line-height: 1em;
    position: relative;
    top: 58%;
    z-index: 10;
    width: 100%;
}

footer {
    width: 100%;
    padding: 2px 0px;
    background-image: url(img/footer.svg);
    background-size: cover;
    /*-webkit-mask-image: url(/background-footer.svg);
    mask-image: url(/background-footer.svg);
    mask-size: cover;*/
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 45px;
    position: relative;
    top: 10px;
    right: 10px;
    ;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #9b9b9b;
    font-weight: 700;
}

.box__footer a {
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: .8;
}

.box__footer a .fab {
    font-size: 20px;
    margin-right: 5px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: white;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: white;
}